<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WAV File Processor</title>



    <!-- Add your CSS and JavaScript references here -->
    <!--script src="https://unpkg.com/wavesurfer.js@7.7.2/dist/wavesurfer.min.js"></script-->
    <!--script src="https://unpkg.com/wavesurfer.js@7.7.2/dist/plugins/regions.min.js"></script-->
    <!--script src="https://unpkg.com/wavesurfer.js@7.7.2/dist/plugins/zoom.min.js"></script-->
    <!--script src="https://unpkg.com/wavesurfer.js@7.7.2/dist/plugins/spectrogram.min.js"></script-->

    <script src="{{ url_for('static', filename='js/lib/jquery-2.2.3.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/lib/wavesurfer.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/lib/wavesurfer.spectrogram.min.js') }}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='js/lib/wavesurfer.regions.js') }}" type="text/javascript"></script>
    <!--script src="{{ url_for('static', filename='js/lib/wavesurfer.labels.js') }}" type="text/javascript"></script-->
    

</head>
<body>
    <h1>WAV File Processor</h1>

    <a href="{{url_for('species')}}">See all species</a><br>
    <a href="{{url_for('login')}}">Login Page</a><br>
    <a href="{{url_for('register')}}">Register Page</a><br>
    {% if session['is_logged_in'] %}
        <!-- Show the button only if the user is logged in -->
        <a href="{{url_for('dashboard')}}">Logout Page</a><br>
    {% endif %}
    

    <input type="file" id="audioFile" accept=".wav">
    <button id="visualizeButton">Visualize Audio</button>
    <button id="processButton">Process Audio</button>

    <button id="playButton">Play</button>
    <button id="pauseButton">Pause</button>

    <button id="prec">Prec</button>
    <button id="next">Next</button>

    <label id="slider-container">
        Iteration: <input type="range" id="slider" min="1" max="300" value="1" />
    </label>

    <label>
        Max Freq: <input type="range" id="maxFreq" min="1000" max="96000" value="96000" />
    </label>

    {% if session['is_logged_in'] %}
        <!-- Show the button only if the user is logged in -->
        <button id="save">Save Labels</button>
    {% else %}
        <!-- Show a hidden button if the user is not logged in -->
        <button id="save" style="display: none;">Save Labels</button>
    {% endif %}
    

    <div id="waveform"></div>



    
    <div id="result"></div>
    <div id="timestep"></div>
    <div id="probability"></div>
    <div id="spectrogram"></div>



    <form role="form" name="edit" style="opacity: 0; transition: opacity 300ms linear; margin: 30px 0;">
        
        <div>
            <select class="custom-select" id="choiceSelector" name="choiceSelector" style="height: 30px;width: 100%">
                <option value="Barbarg">Barbarg</option>
                <option value="Envsp">Envsp</option>
                <option value="Myosp">Myosp</option>
                <option value="Pip35">Pip35</option>
                <option value="Pip50">Pip50</option>
                <option value="Plesp">Plesp</option>
                <option value="Rhisp">Rhisp</option>
            </select>
        </div>

        <div class="form-group">
            <label for="note">Note</label>
            <textarea id="note" class="form-control" rows="3" name="note"></textarea>
        </div>
        

        <div>
            <button type="submit" class="btn btn-success btn-block">Save</button>
        </div>
        
    </form>

    <script>
        var userName = "{{username}}";
    </script>

    <script src="{{ url_for('static', filename='js/src/main.js') }}" type="module"></script>




</body>
</html>
